[submodule "libraries/Servo"]
	path = libraries/Servo
	url = https://github.com/arduino-libraries/Servo
[submodule "libraries/Stepper"]
	path = libraries/Stepper
	url = https://github.com/arduino-libraries/Stepper
[submodule "libraries/ArduinoSTL"]
	path = libraries/ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
