[submodule "libraries/Servo"]
	path = libraries/Servo
	url = https://github.com/arduino-libraries/Servo
[submodule "libraries/ArduinoSTL"]
	path = libraries/ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "libraries/AccelStepper"]
	path = libraries/AccelStepper
	url = https://github.com/waspinator/AccelStepper/
